# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
venv/
ENV/
env/

# VSCode settings
.vscode/

# Pytest
.pytest_cache/
*.cover
coverage.xml

# Logs and metadata
*.log
.DS_Store
